
doctype html
html(lang="en")
    head
        //- page metadata attributes
        meta(charset="utf-8")
        meta(name="author", content="")
        meta(name="description", content="")
        title gitdeck

        //- included scripts
        script(type="text/javascript", src="/components/jquery/jquery.min.js")
        script(type="text/javascript", src="/components/angular/angular.min.js")
        script(type="text/javascript", src="/components/angular-resource/angular-resource.min.js")
        script(type="text/javascript", src="/components/angular-route/angular-route.min.js")
        script(type="text/javascript", src="/js/app.js")
        script(type="text/javascript", src="/js/controllers.js")
        script(type="text/javascript", src="/js/directives.js")
        script(type="text/javascript", src="/js/services.js")

        //- imported styles
        link(rel="stylesheet", href="/css/base.css")
        link(rel="stylesheet", href="/css/skeleton.css")
        link(rel="stylesheet", href="/css/layout.css")
        link(rel="stylesheet", href="/css/style.css")

        //- page favicon
        link(rel="shortcut icon", href="/img/favicon.ico")

    body(ng-app="gitdeckApp")
        .container
            #app-header.sixteen.columns.row
                h2 gitdeck.

            <div id="app-view" class="sixteen columns row" ng-view></div>
