
doctype html
html(lang="en")
    head
        //- page metadata attributes
        meta(charset="utf-8")
        meta(name="author", content="")
        meta(name="description", content="")
        title gitdash

    body
        p
            | <strong>gitdeck</stronger> requires app users to authenticate via Github.
            
        a(href='' + oauthUrl) Sign in via oAuth!