
#app-header h2
    margin-top 20px 

img.github-avatar
    width 50px
    height 50px
    padding 5px

.avatar-container, .event-container
    float left

.avatar-container
    margin-right 5px

.event-container
    width 70%

.payload-container
    word-wrap break-word
